<!DOCTYPE html>
<html lang="ko">
<head id="layout-head">
    <meta charset="UTF-8">
    <title>공통 템플릿</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <header id="layout-header">헤더 삽입부</header>
    <aside id="layout-left-aside">왼쪽 사이드 바 삽입부</aside>

    <!-- Main content -->
    <main id="layout-main">
        <div id="main-table">
            <form id="item-form" class="form-horizontal" role="form" >
                <!-- Left side -->
                <div class="col-lg-8">
                    <div class="row mb-2 ">
                        <div class="col-lg-4">
                            <label for="itemId" class="form-label">품목 코드</label>
                            <input type="text" id="itemId" name="itemId" class="form-control" autocomplete='off'>

                            <div id="itemId-error" class="error invalid-feedback"></div>
                        </div>
                        <div class="col-lg-4">
                            <label for="itemName" class="form-label">품목 명</label>
                            <input type="text" id="itemName" name="itemName" class="form-control" autocomplete='off'>

                            <div id="itemName-error" class="error invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-2 ">
                        <div class="col-lg-4">
                            <label for="unit" class="form-label">단위</label>
                            <input type="text" id="unit" name="unit" class="form-control" autocomplete='off'>

                            <div id="unit-error" class="error invalid-feedback"></div>
                        </div>
                        <div class="col-lg-4">
                            <label for="itemType" class="form-label">품목 타입</label>
                            <!--<input type="text" id="itemType" name="itemType" class="form-control" autocomplete='off'>-->
                            <select id="itemType" name="itemType" class="form-control">
                                <option value="PRODUCT">제품</option>
                                <option value="MATERIAL">자재</option>
                            </select>
                            <div id="itemType-error" class="error invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="mb-2">
                                <label for="memo" class="form-label">메모</label>
                                <input type="text" id="memo" name="memo" class="form-control" autocomplete='off'>

                                <div id="memo-error" class="error invalid-feedback"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <button type="submit" class="btn btn-success  me-md-2 col-sm-1 ">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                저장
                            </button>

                            <button type="button" id="delete-button" class="btn btn-danger me-md-2 col-sm-1 " >
                                <span class="glyphicon glyphicon-share-alt"></span>
                                삭제
                            </button>
                            <button type="button" id="cancel-button" class="btn btn-secondary me-md-2 col-sm-1 float-right" >
                                <span class="glyphicon glyphicon-share-alt"></span>
                                뒤로
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </main>
    <!-- /.content -->

    <aside id="layout-right-aside">오른쪽 사이드 바 삽입부</aside>
    <footer id="layout-footer">푸터 삽입부</footer>
</div>

<!--/* REQUIRED SCRIPTS */-->
<script id="layout-scripts">/* 공통 스크립트 삽입부 */</script>

<!--/* 페이지 전용 스크립트 */-->
</body>
</html>