<!DOCTYPE html>
<html lang="ko">
<head id="layout-head">
  <meta charset="UTF-8">
  <title>게시글 관리 페이지</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <header id="layout-header">헤더 삽입부</header>
    <aside id="layout-left-aside">왼쪽 사이드 바 삽입부</aside>

    <!-- Main content -->
    <main id="layout-main">
      <div id="main-table">
        <div class="col mb-2" >
          <button id="addItem" class="btn btn-success btn-sm">
            품목 추가
          </button>
        </div>
        <div class="col" style="width: 100%">
          <table  id="datatable" class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th class="col-3">품목 코드</th>
                <th class="col-5">품목 명</th>
                <th class="col-1">단위</th>
                <th class="col-2">품목 유형</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a data-toggle="modal" data-target="#layout-modal">새 글</a></td>
                <td>Uno</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td><a data-toggle="modal" data-target="#layout-modal">아무글</a></td>
                <td>Uno</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td><a data-toggle="modal" data-target="#layout-modal">스프링 부트 블로그 정리</a></td>
                <td>Uno</td>
                <td></td>
              </tr>
            </tbody>
            <tfoot>

            </tfoot>
          </table>
          <div class="col">
            <nav id="pagination" class="dataTables_paginate paging_simple_numbers" aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="paginate_button page-item"><a class="page-link" href="#">First</a></li>
                <li class="paginate_button page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="paginate_button page-item"><a class="page-link" href="#">1</a></li>
                <li class="paginate_button page-item"><a class="page-link" href="#">Next</a></li>
                <li class="paginate_button page-item"><a class="page-link" href="#">Last</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
    <!-- /.content -->
    <div class="modal fade" id="layout-modal"></div>
    <!-- /.modal -->

    <aside id="layout-right-aside">오른쪽 사이드 바 삽입부</aside>
    <footer id="layout-footer">푸터 삽입부</footer>
  </div>

  <!--/* REQUIRED SCRIPTS */-->
  <script id="layout-scripts">/* 공통 스크립트 삽입부 */</script>

  <!--/* 페이지 전용 스크립트 */-->

  <script>
    $(document).ready(() => {
      $('#layout-modal').on('show.bs.modal', (event) => {
        const id = $(event.relatedTarget).data('id');

        fetch(`/management/articles/${id}`)
            .then(response => response.json())
            .then(data => {
              $('.modal-title').text(data.title);
              $('.modal-body pre').text(data.content);
              $('.modal-footer form').attr('action', `/management/articles/${id}`);
            })
            .catch(error => {
              console.error('게시글 로딩 실패: ', error);
            });
      });
    });
  </script>

</body>
</html>
